@import 'bootstrap';
@import 'solarized_dark';

// debugging
.debug(@tag: '', @bg: '#000') {
  padding: 0 4px;
  margin-right: 4px;
  color: #fff;
  content: @tag;
  background: @bg;
}

#content {
  h1:before { .debug('H1', #f00);  }
  h2:before { .debug('H2', #0a0); }
  h3:before { .debug('H3', #00f); }
  h4:before { .debug('H4', #f0f); }
  h5:before { .debug('H4', #0ff); }
  p:before { .debug('P', #0aa); }
  li:before { .debug('LI', #aa0); }
}

code {
  font-size: 14px;
}
pre {
  padding: 0;
  code {
    font-size: 15px;
  }
}

html, body {
  background: #eee;
}

.container-fluid {
  max-width: 1100px;
  margin: 0 auto;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

#content {
  font-size: 16px;
  line-height: 1.6em;
}

/*
html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial;
  background: #aaa;
}

#page {
  max-width: 1100px;
  margin: 0 auto;
  > div {
    padding: 1em 1%;
  }
  #content {
    float: left;
    width: 65%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background: #fff;
    > h1 {
      margin-top: 0;
    }
    pre code {
      padding: 2%;
    }
  }
  #nav {
    float: left;
    width: 30%;
    background: #eee;
    ul {
      font-size: 0.7em;
      list-style: none;
      &, li {
        margin: 0;
        padding: 0;
      }
    }
  }
}
*/
