!!! 5
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='site.css')
  body
    div.container-fluid
      div.row-fluid
        div#content.span9
          //- p= url
          div!= content
        div#nav.span3
          ul.nav.nav-list
            li.nav-header Posts
            each pageUrl in pageUrls
              li(class=pageUrl === url ? 'active' : null)
                a(href=pageUrl + '.html')= pageUrl
